RLBench/
# Byte-compiled / optimized / DLL files
data_raw/
data_raw_bak/
build/
__pycache__/
*.py[cod]
*.out
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
.idea

# VSCode
.vscode

# Project specific
exp_local/
wandb/
eval_video/
*.csv
events.out.*
.DS_Store
